VITE_SUPABASE_URL=https://scymudgqdvqqcqsddvhm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjeW11ZGdxZHZxcWNxc2RkdmhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0MzAzMTEsImV4cCI6MjEwMDAwNjMxMX0.7siu4QubqRNXnf9tK36E_u_RVhACiUBvgjosQZCa5PE
